body{
     background-color: #ecfbfc;
}
hr{
    border-style:none;
    border-top-style:groove;
    border-color:white  ;
}    
h1{
    color: #116979;
}
h2{
    color: #116979;
}
img{
    border-radius: 50%;
    width: 200px;
}






